body {
  margin: 0;
}

.container-main {
  margin: 0;
}

.section-1 {
  overflow: auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/vector-landscape-illustration.png);
  background-size: 100% 100%;
}

@media (min-width: 690px) {
  .section-1 {
    height: 650px;
  }
}

.section-1__titulo-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

@media (min-width: 690px) {
  .section-1__titulo-1 {
    font-size: 250%;
  }
}

.section-2 {
  background-image: url(./img/2f3594deff948f8bcba556296989f96a.jpg);
  background-size: 150% 100%;
  overflow: auto;
  height: 450px;
}

@media (min-width: 690px) {
  .section-2 {
    height: 900px;
  }
}

.section-2__titulo {
  color: #020e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 180%;
  margin-top: 10%;
}

@media (min-width: 690px) {
  .section-2__titulo {
    font-size: 70px;
    margin-right: 50%;
    margin-top: 5%;
  }
}

.section-2__parrafo {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin-top: 70px;
}

@media (min-width: 690px) {
  .section-2__parrafo {
    font-size: 30px;
    margin-top: 50px;
    width: 500px;
    margin-left: 20%;
  }
}

.section-3 {
  background-image: url(./img/vertical-landscape-with-road-in-summer-forest-at-sunset-vector.jpg);
  overflow: auto;
  height: 100%;
  background-size: 200% 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 690px) {
  .section-3 {
    height: 900px;
  }
}

@media (min-width: 690px) {
  .section-3__titulo {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-3__titulo {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 690px) {
  .section-3__titulo {
    font-size: 50px;
    width: 100%;
    margin-top: 100px;
  }
}

.section-3__titulo-li {
  margin-top: -500px;
}

.section-3__infos {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

@media (min-width: 790px) {
  .section-3__infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: -400px;
  }
}

.section-3__info__titulos {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-3__img-1 {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-3__img-2 {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-3__img-3 {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 690px) {
  .section-3__p {
    width: 300px;
    display: flex;
    margin-left: 10%;
  }
}

.header__ventana {
  background-color: #7e3cb4;
  top: 0;
  right: 0;
  position: absolute;
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.header__ventana-cierra-b {
  position: absolute;
  right: 10px;
  background-color: #7e3cb4;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  border: hidden;
  color: #dbdbdb;
}

.header__ventana__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
  color: #dbdbdb;
}

.ap {
  text-decoration: none;
  color: #dbdbdb;
  font-weight: 700;
  font-size: 20px;
}

.as {
  text-decoration: none;
  color: #dbdbdb;
  font-weight: 700;
  font-size: 20px;
}

.ac {
  text-decoration: none;
  color: #dbdbdb;
  font-weight: 700;
  font-size: 20px;
}
