body {
  margin: 0;
}

.container-main {
  margin: 0;
}

.section-1 {
  overflow: auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./img/vector-landscape-illustration.png);
  background-size: 100% 100%;
}

@media (min-width: 690px) {
  .section-1 {
    height: 650px;
  }
}

.section-1__titulo-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.section-1__titulo-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2 {
  background-image: url(./img/2f3594deff948f8bcba556296989f96a.jpg);
  background-size: 150% 100%;
  overflow: auto;
  height: 450px;
}

@media (min-width: 690px) {
  .section-2 {
    height: 900px;
  }
}

.section-2__titulo {
  color: #020e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

@media (min-width: 690px) {
  .section-2__titulo {
    font-size: 70px;
    margin-right: 50%;
  }
}

.section-2__parrafo {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 35%;
}

@media (min-width: 690px) {
  .section-2__parrafo {
    font-size: 30px;
    margin-top: 5%;
    width: 550px;
    margin-left: 60%;
  }
}

.section-3 {
  background-image: url(./img/vertical-landscape-with-road-in-summer-forest-at-sunset-vector.jpg);
  overflow: auto;
  height: 900px;
  background-size: 200% 200%;
}

.section-3__titulo {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 690px) {
  .section-3__titulo {
    font-size: 50px;
  }
}

.section-3__infos {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

@media (min-width: 690px) {
  .section-3__infos {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.section-3__info__titulos {
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-3__img-1 {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-3__img-2 {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-3__img-3 {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 690px) {
  .section-3__p {
    width: 400px;
    display: flex;
    margin-left: 20%;
  }
}

.section-4 {
  background-image: url(./img/vector-landscape-illustration3.png);
  background-size: 200% 100%;
  overflow: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 690px) {
  .section-4 {
    height: 700px;
  }
}

.section-4__inputs {
  padding: 60px;
}

@media (min-width: 690px) {
  .section-4__inputs {
    margin-left: 50%;
    width: 400px;
  }
}

.section-4__titulo-1 {
  color: #f4f4f4;
  display: flex;
  align-items: center;
}

@media (min-width: 690px) {
  .section-4__titulo {
    font-size: 45px;
    margin-right: 50%;
  }
}

.section-4__labels {
  color: #f4f4f4;
}

.section-4__input {
  width: 100%;
  background-color: #3e4144;
  border: hidden;
}

@media (min-width: 690px) {
  .section-4__input {
    height: 40px;
  }
}

.section-4__input-e {
  width: 100%;
  background-color: #3e4144;
  border: hidden;
}

@media (min-width: 690px) {
  .section-4__input-e {
    height: 40px;
  }
}

.section-4__input__textarea {
  width: 100%;
  height: 100px;
  background-color: #3e4144;
  border: hidden;
}

@media (min-width: 690px) {
  .section-4__input__textarea {
    height: 150px;
  }
}

.section-4__button {
  background-color: #a10caf;
  border-radius: 5px;
  width: 105%;
  height: 40px;
  margin-top: 10%;
  font-weight: 500;
  border: hidden;
}

.header__ventana {
  background-color: #7e3cb4;
  top: 0;
  right: 0;
  position: absolute;
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.header__ventana-cierra-b {
  position: absolute;
  right: 10px;
  background-color: #7e3cb4;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  border: hidden;
  color: #dbdbdb;
}

.header__ventana__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
  color: #dbdbdb;
}

.ap {
  text-decoration: none;
  color: #dbdbdb;
  font-weight: 700;
  font-size: 20px;
}

.as {
  text-decoration: none;
  color: #dbdbdb;
  font-weight: 700;
  font-size: 20px;
}

.ac {
  text-decoration: none;
  color: #dbdbdb;
  font-weight: 700;
  font-size: 20px;
}
